.turing-container {
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.turing-machine {
    min-width: 100%;
    position: relative;
    overflow: hidden;
}

.tape {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    padding: .25em;
    overflow-x: hidden;
    height: 30em;
}

.head {
    --color: #131221;
    --borderRadius: 0.15em;
    width: 4.5em;
    height: 4.5em;
    border: 7px solid var(--color);
    border-radius: var(--borderRadius);
    position: relative;
    z-index: 1;
}

.head ._1 {
    width: 6em;
    height: 2em;
    position: absolute;
    left: calc(50% - 6em / 2);
    top: -2.3em;
    background-color: var(--color);
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

.head ._2 {
    width: 8.5em;
    height: 8.5em;
    position: absolute;
    left: calc(50% - 8.5em / 2);
    top: -10.7em;
    background-color: var(--color);
    border-radius: var(--borderRadius);
}

.tape-content {
    background-color: #1c1f38;
    border: .125em solid #23285fa8;
    border-radius: .25em;
    padding: 1em;
    position: absolute;
    transition: 0.25s ease-in-out;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: 1.4em;
}

.tape-content>span {
    background: #7c7c7c;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: .05em solid #161519;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.15em;
    color: #0a0a0a;
    user-select:none;

}

@keyframes head-move {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}