/* Home Section */
#home {
    position: relative;
    background-size: cover;
    color: var(--light-1);
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}